body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: orange;
  margin: 0;
}

.car {
  position: absolute;
  height: 12rem;
  width: 12rem;
}

.rotate-east {
  transition: 0.5s;
  transform: rotate(0deg);
}

.rotate-south {
  transition: 0.5s;
  transform: rotate(90deg);
}

.rotate-west {
  transition: 0.5s;
  transform: rotate(180deg);
}

.rotate-north {
  transition: 0.5s;
  transform: rotate(270deg);
}
